<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="wcf_Parking.ServiceParking" behaviorConfiguration="mexBeh">
        <endpoint address="" binding="netTcpBinding" contract="wcf_Parking.IServiceParking"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.40:8301" />
            <add baseAddress="net.tcp://192.168.1.40:8302"/>
          </baseAddresses>
        </host>
      </service>
      <service name="wcf_Parkingsingle.ServiceParkingSingle" behaviorConfiguration="mexBeh">
        <endpoint address="" binding="netTcpBinding" contract="wcf_Parkingsingle.IServiceParkingSingle"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.40:8303" />
            <add baseAddress="net.tcp://192.168.1.40:8304"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>